// Here you can add other styles
.sidebar-customstyle {
    //background-color: #FAFAFA;
    background-color: #FAFAFA;
    font-weight: 800;
    padding-top: 15px;
}

.sidebar-style-title {
    font-size: 30;
}

.ftstyle_title {
    font-size : 20;
    font-weight : 800;
}

.upperlogo-space {
    width: 270px;
    align-items: center;
    justify-content: left;
}

.extramarginup {
    margin-right: 30px;
}

.img-productlogo {
    width : 300px;
    height: auto;
}

.header-sizeup {
    height: 70px;
    padding : 0px;
    margin : 0px;
    background-color: white;
}