$sidebar-form-color : red;
$sidebar-form-placeholder-color : orange;
$sidebar-nav-title-color : #526378;
$sidebar-nav-link-color : #526378;

$sidebar-width : 270px;

$sidebar-nav-link-hover-color : #526378;
$sidebar-nav-link-hover-icon-color : #526378;
$sidebar-nav-link-hover-bg : #EAECEE;

$sidebar-nav-link-active-color : #526378;
$sidebar-nav-link-active-icon-color : #526378;
$sidebar-nav-link-active-bg : #EAECEE;